@tailwind base;
@tailwind components;
@tailwind utilities;

.default-editor-container {
    @apply rounded-md shadow-sm ring-1 bg-zinc-200 dark:bg-zinc-900 ring-white/10;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px) translateX(-50%);
    }
}

@keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
}

.animate-progress {
    animation: progress 5s linear forwards;
}

.animate-fade-in-out {
    animation: fadeInOut 5s forwards;
}

/*:root {*/
/*    --background: #ffffff;*/
/*    --foreground: #000000;*/
/*}*/

/*.dark {*/
/*    --background: #000000;*/
/*    --foreground: #ffffff;*/
/*}*/

/*body {*/
/*    background-color: var(--background);*/
/*    color: var(--foreground);*/
/*}*/
